[submodule "modules/cxxopts"]
	path = modules/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "modules/tinyformat"]
	path = modules/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "modules/inih"]
	path = modules/inih
	url = https://github.com/jtilly/inih.git
