[submodule "modules/tinyformat"]
	path = modules/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "modules/inih"]
	path = modules/inih
	url = https://github.com/jtilly/inih.git
[submodule "modules/civetweb"]
	path = modules/civetweb
	url = https://github.com/civetweb/civetweb.git
