[Unit]
Description=Start the wifibroadcast bridge in ground mode
BindsTo=ground.target

[Service]
Type=simple
EnvironmentFile=/etc/default/wfb_bridge
ExecStart=/usr/bin/wifi_config /etc/default/wfb_bridge ground
TimeoutStopSec=5s
Restart=always
RestartSec=5s

[Install]
WantedBy=ground.target
