[Unit]
Description=Start the wifibroadcast bridge in ground mode
Conflicts=wfb_bridge_air.service
After=wfb_bridge_ground.service

[Service]
Type=simple
EnvironmentFile=/etc/default/wfb_bridge
ExecStart=/usr/bin/wfb_bridge /etc/default/wfb_bridge ground
TimeoutStopSec=5s
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
