[Unit]
Description=Use udev to configure wifi interfaces in monitor mode
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/wifi_config
ExecStart=/bin/wifi_config
ExecReload=/bin/kill -1 $MAINPID
ExecStop=/bin/kill -9 $MAINPID
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s
StandardOutput=journal

[Install]
WantedBy=multi-user.target
